node_modules/*
package-lock.json
.vscode/*
cert.pem
key.pem 
#logs.db
#impostazioni.json
elencoDate.json
192.168.1.24.crt
192.168.1.24.key
*.key
*.pem
*.conf
*.crt
*.exe
*.bat
*.old
impostazioniTimer.json
elencoDate.json
impostazioni.json
*.yml
*.csr
elencoDate.json
tunnel/*